<!-- footer.ejs -->
<footer class="footer">
      <div>
        <h2>公式アカウント</h2>
        <div class="icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-left col-md-4 col-sm-6">
        <p class="about">
          <span> About K</span> Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus tincidunt,
          ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh mollis, tristique ante sed, viverra massa.
        </p>
      </div>
      <div class="footer-center col-md-4 col-sm-6">
        <div class='jigzag'>
          <p>お問い合わせ</p>
        </div>
        <div class='jigzag'>
          <p>Q&A</p>
        </div>
      </div>
      <div class="footer-right col-md-4 col-sm-6">
        <h2>Kのファッション<span>部屋</span></h2>
        <p class="menu">
          <a href="#"> Home</a> 
          <a href="#"> About</a> 
          <a href="#"> Goods</a> 
          <a href="#"> Radio</a> 
          <a href="#"> Vlogs</a>
          <a href="#"> News</a>
        </p>
        <p class="name"> Company Name &copy; 2016</p>
      </div>
</footer>